* text=auto eol=lf
protocol/contracts/vendor/VRF.sol -text
protocol/contracts/vendor/CHAINLINK-LICENSE -text -whitespace
protocol/contracts/vendor/bls-bn254/BLS.sol -text
protocol/contracts/vendor/bls-bn254/ModExp.sol -text
protocol/contracts/vendor/bls-bn254/LICENSE -text -whitespace
